<!DOCTYPE HTML>
<html th:fragment="layout(title, content)" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout/head::head(${title})"></head>
	<body>
    	<header th:replace="layout/header::header"></header>
    	
    	<div th:text="${alert_message}"></div>
    	
    	<div class="container">
    		<div id="action_alert_box" th:if="${alert}" class="alert" th:classappend="@{alert-{type}(type=${alert.getType()})}" role="alert">
    			<div th:text="${alert.useAlert()}"></div>
				<script>
					setTimeout(
						function(){
							$('#action_alert_box').slideUp();
						},
						3000
					);
				</script>
			</div>
			<div th:replace="${content}">
	        	<p>Layout content</p>
	    	</div>
    	</div>
		<footer th:replace="layout/footer::footer"></head>
	</body>
</html>